/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 25, 2017, 11:32:31 PM
    Author     : rowja
*/

#slider{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
#slider .slides{
    display: block;
    width: 1000px;
    height: 100px;
    margin: 0;
    padding: 0
}
#slider .slide{
    float: left;
    list-style-type: none;
    width: 100px;
    height: 100px;
}