body {
  background: #eee !important;
}

.wrapper {
  margin-top: 30px;
  margin-bottom: 60px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #eee !important;
  /*border: 1px solid rgba(0, 0, 0, 0.1);*/
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .t {
  margin-bottom: -1px;
  border-color: #20895e;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin .b {
  margin-bottom: 20px;
  border-color: #20895e;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .c {
  margin-bottom:-1px;
  border-color: #20895e;
  border-radius: 0;
  border-radius: 0;
}
.form-signin .login{
    border-color: #20895e;
}

